<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="UFT-8">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAMdkagojX9jU-1_YMR4G_TsDyr_8yYGqE&sensor=true">
    </script>
    <script type="text/javascript">
      var map;

      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      var socketId = null;
      var memberMarkers = [];
      function addMember(member, channel){
        var p = $('<p>', { text: '('+member.info.lat+', '+member.info.lon+')', id: 'member_' + member.id.replace('.', '_')} );
        if (member.id !== socketId && member.info) {
          var latLong = new google.maps.LatLng(member.info.lat, member.info.lon);
          var marker = new google.maps.Marker({
            position: latLong,
            map: map,
          });
          google.maps.event.addListener(marker, 'click', function() {
            var room = 'green';
            call(room);
            channel.trigger('client-conference-connect', {
              'room': room,
              'members': [member.id, socketId]
            });
            console.log("click:["+member.id+', '+socketId+'] , room:'+room);
          });
          memberMarkers[member.id] = marker;
        }
      }
      function removeMember(member){
        memberMarkers[member.id].setMap(null);
      }

      function initialize() {
	    $('#hangup-btn').on('click', hangup);
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        locateMe();
      }

      function locateMe() {
        // Check for geolocation support
        if (navigator.geolocation) {
          // Use method getCurrentPosition to get coordinates
          navigator.geolocation.getCurrentPosition(function (position) {
            // Access them accordingly
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            jQuery.ajax({
              url: "{% url pusher_location %}",
              type: "post",
              data: {
                socket_id: socketId,
                lat: lat,
                lon: long
              },
              success: function() {
                subscribeMe();
              }
            });
            var latLong = new google.maps.LatLng(lat, long);
            map.setCenter(latLong, 13);

            var marker = new google.maps.Marker({
              position: latLong,
              map: map,
              icon: "{{ STATIC_URL }}images/map_me_indicator.png"
            });
          });
        }
      }

      function subscribeMe() {
        var pusher = new Pusher("{{ PUSHER_KEY }}");
        pusher.connection.bind('connected', function() {
            socketId = pusher.connection.socket_id;
        });
        Pusher.channel_auth_endpoint = '/pusher/auth/';

        var PresenceChannel = pusher.subscribe('presence-world');

        PresenceChannel.bind('pusher:subscription_succeeded', function(members){
          members.each(function(member) {
              addMember(member, PresenceChannel);
          });
        });
        PresenceChannel.bind('pusher:member_added', function(member){
          addMember(member, PresenceChannel);
        });
        PresenceChannel.bind('pusher:member_removed', function(member){
            removeMember(member)
        });
        PresenceChannel.bind('client-conference-connect', function(data){
            if ($.inArray(socketId, data.members) !== -1) {
              console.log('called: ['+data.members[0]+', '+data.members[1]+']')
              call(data.room);
            }
        });
      }

      Twilio.Device.setup("{{ token }}");
 
      Twilio.Device.ready(function (device) {
        console.log("Ready");
      });
 
      Twilio.Device.error(function (error) {
        console.log("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        console.log("Successfully established call");
        $('#hangup-btn').show();
      });
 
      Twilio.Device.disconnect(function (conn) {
        console.log("Call ended");
        $('#hangup-btn').hide();
      });

      function call(room) {
        Twilio.Device.connect({room: room});
      }

      function hangup(channel) {
        Twilio.Device.disconnectAll();
      }

      $(initialize);
	  
    
    </script>

  <title>Echoic</title>
</head>
<body>
  <div id="map_canvas"></div>
  <aside class="over_map">
    <hgroup>
    <img src="{{ STATIC_URL }}images/logo_new.png" class="ticket">
    <img src="{{ STATIC_URL}}images/stamp.png" class="stamp">
        <h1 class="invisible">Echoic</h1>
        <h3 class="invisible">Join a global conversation</h3>
    </hgroup>
        <button id="hangup-btn" class="btn btn-primary btn-large">Hang Up</button>
    <section>
        <h3>Start a global conversation and meet new people.</h3>
		<p>Click on anyone in the map to start a chat.</p>
        </div>
    </section>
  </aside>
  <footer>
  <p class="img">Build and designed by <a href="https://twitter.com/#!/gnublade">@gnublade</a> and <a href="https://twitter.com/#!/feeschmidts">"@feeschmidts</a> at #ldnrealtime</p>
  </footer>
</body>
</html>

