<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="UFT-8">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAMdkagojX9jU-1_YMR4G_TsDyr_8yYGqE&sensor=true">
    </script>
    <script type="text/javascript">
      var map;

      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      var pusher = new Pusher("{{ PUSHER_KEY }}");
      var socketId = null;
      pusher.connection.bind('connected', function() {
          socketId = pusher.connection.socket_id;
      });
      Pusher.channel_auth_endpoint = '/pusher/auth/';
      var PresenceChannel = pusher.subscribe('presence-world');

      PresenceChannel.bind('pusher:subscription_succeeded', function(members){
        $('#members').empty();
        locateMe();
        members.each(function(member) {
            addMember(member);
        });
      });
      PresenceChannel.bind('pusher:member_added', function(member){
        addMember(member);
      });
      PresenceChannel.bind('member_location', function(member){
        updateMember(member);
      });
      PresenceChannel.bind('pusher:member_removed', function(member){
          removeMember(member)
      });
      function updateMember(member){
        $('#member_'+ member.id.replace('.', '_')).text('('+member.info.lat+', '+member.info.lon+')');
        var latLong = new google.maps.LatLng(member.info.lat, member.info.lon);
        var marker = new google.maps.Marker({
          position: latLong,
          map: map,
        });
      }
      function addMember(member){
        var p = $('<p>', { text: member.id, id: 'member_' + member.id.replace('.', '_')} );
        $('#members').append( p );
        var latLong = new google.maps.LatLng(member.info.lat, member.info.lon);
        var marker = new google.maps.Marker({
          position: latLong,
          map: map,
        });
      }
      function removeMember(member){
        $('#member_'+ member.id.replace('.', '_')).remove()
      }

      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      }

      function locateMe() {
        // Check for geolocation support
        if (navigator.geolocation) {
          // Use method getCurrentPosition to get coordinates
          navigator.geolocation.getCurrentPosition(function (position) {
            // Access them accordingly
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            jQuery.ajax({
              url: "{% url pusher_location %}",
              type: "post",
              data: {
                socket_id: socketId,
                lat: lat,
                lon: long
              }
            });
            //var success = PresenceChannel.trigger('client-member_location', {id: socketId, lat: lat, lon: long});
            var latLong = new google.maps.LatLng(lat, long);
            map.setCenter(latLong, 13);
              
            /*var marker = new google.maps.Marker({
              position: latLong,
              map: map,
            });*/
          });
        }
      }


      Twilio.Device.setup("{{ token }}");
 
      Twilio.Device.ready(function (device) {
        console.log("Ready");
      });
 
      Twilio.Device.error(function (error) {
        console.log("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        console.log("Successfully established call");
        $('#call-btn').text("Hangup").off('click').on('click', hangup);
      });
 
      Twilio.Device.disconnect(function (conn) {
        console.log("Call ended");
      });

      function call() {
        Twilio.Device.connect();
        $('#call-btn').text('Calling');
      }

      function hangup() {
        Twilio.Device.disconnectAll();
        $('#call-btn').text('Call').off('click').on('click', call);
      }

      $(function() {
          initialize();
        $('#call-btn').on('click', call);
      });
    
    </script>

  <title>Echoic</title>
</head>
<body>
  <div id="map_canvas"></div>
  <aside class="over_map">
    <hgroup>
    <img src="{{ STATIC_URL }}images/logo.png" class="ticket">
        <h1 class="invisible">Echoic</h1>
        <h3 class="invisible">Join a global conversation</h3>
    </hgroup>
        <button id="call-btn" class="btn btn-primary btn-large">Join</button>
    <section>
        <h3>What would you like to talk about?</h3>
        <label for="topic">Topic/Question</label>
        <input name="topic" type="text" class="input-text" class="float" style="margin-right:20px"/>

        <a href="#" class="btn btn-primary btn-large" onClick="javascript:submit()" class="green">Go</a>
         </div>
    </section>
    <section>
        <h2>Join a global conversation</h2>
        <img src="{{ STATIC_URL }}images/gmarker_yellow.png" class="float">
      <p><b>Topic of first person called</b><br> 8 listeners<em>4:54 mins</em></p>
    </section>
    <section id="members">
    </section>
  </aside>
  <footer>
  <p class="img">Build and designed by <a href="https://twitter.com/#!/gnublade">@gnublade</a> and <a href="https://twitter.com/#!/feeschmidts">"@feeschmidts</a> at #ldnrealtime</p>
  </footer>
</body>
</html>

